body{
    background-color: #fffefe;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7e7a7a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #f1f1f1;
  }

 
.about{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about p{width: 500px;}
.border-left{border-left: 6px solid #ccc!important;background-color: #f5f3f3;}
.about div img{width: 500px; height: 300px;}